.button{
    background-color: rgb(255, 135, 6);
    border:none;
    color:whitesmoke;
    padding-inline:1rem;
    padding-block:.5rem ;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    outline:none;
    font-size:16px;
    border-radius:.4rem;
    cursor:pointer;
}